In [1]:
import pandas as pd

In [2]:
dict_data={"c0":[1,2,3],"c1":[4,5,6],"c3":[7,8,9],"c4":[13,14,15]}

In [3]:
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
df

    c0  c1  c3  c4
r0   1   4   7  13
r1   2   5   8  14
r2   3   6   9  15