In [9]:
import pandas as pd

In [2]:
dict_data={'c0':[1,2,3],"c1":[4,5,6],"c2":[7,8,9],"c3":[10,11,12],"c4":[13,14,15]}

In [3]:
df=pd.DataFrame(dict_data)
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [20]:
df=pd.DataFrame(dict_data,index=["r0",'r1','r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [24]:
ndf=df.sort_values(by='c2',ascending=False)
ndf

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [14]:
ndf=df.sort_values(by='c2',ascending=True)
ndf

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [15]:
ndf1=df.sort_values(by='c2',ascending=False)