In [1]:
import pandas as pb

In [2]:
studert1=pb.Series({"국어":100,"영어":80,"수학":90})
studert2=pb.Series({"국어":80,"영어":90,"수학":80})

In [7]:
#두학생의 과목별 점수로 사칙연산
additon=studert1+studert2
additon

국어    180
영어    170
수학    170
dtype: int64

In [6]:
#두학생의 과목별 점수로 사칙연산
subration=studert1-studert2
subration

국어    20
영어   -10
수학    10
dtype: int64

In [9]:
#두학생의 과목별 점수로 사칙연산
division=studert1/studert2
division

국어    1.250000
영어    0.888889
수학    1.125000
dtype: float64

In [10]:
#두학생의 과목별 점수로 사칙연산
mulitplitcaton=studert1*studert2
mulitplitcaton

국어    8000
영어    7200
수학    7200
dtype: int64

In [15]:
result=pb.DataFrame([additon,subration,division,mulitplitcaton], index=["덧셈","뺄셈","곱셈","나눗셈"])
result

          국어           영어        수학
덧셈    180.00   170.000000   170.000
뺄셈     20.00   -10.000000    10.000
곱셈      1.25     0.888889     1.125
나눗셈  8000.00  7200.000000  7200.000

In [13]:
result

        국어           영어        수학
0   180.00   170.000000   170.000
1    20.00   -10.000000    10.000
2     1.25     0.888889     1.125
3  8000.00  7200.000000  7200.000