In [16]:
import pandas as pb
import numpy as np

In [17]:
studert1=pb.Series({"국어":np.nan,"영어":80,"수학":90})
studert2=pb.Series({"국어":80,"영어":90,"수학":np.nan})

In [19]:
#두학생의 과목별 점수로 사칙연산
additon=studert1+studert2
additon

국어      NaN
영어    170.0
수학      NaN
dtype: float64

In [20]:
#두학생의 과목별 점수로 사칙연산
subration=studert1-studert2
subration

국어     NaN
영어   -10.0
수학     NaN
dtype: float64

In [21]:
#두학생의 과목별 점수로 사칙연산
division=studert1/studert2
division

국어         NaN
영어    0.888889
수학         NaN
dtype: float64

In [22]:
#두학생의 과목별 점수로 사칙연산
mulitplitcaton=studert1*studert2
mulitplitcaton

국어       NaN
영어    7200.0
수학       NaN
dtype: float64

In [23]:
result=pb.DataFrame([additon,subration,division,mulitplitcaton], index=["덧셈","뺄셈","곱셈","나눗셈"])
result

     국어           영어  수학
덧셈  NaN   170.000000 NaN
뺄셈  NaN   -10.000000 NaN
곱셈  NaN     0.888889 NaN
나눗셈 NaN  7200.000000 NaN

In [18]:
result

          국어           영어        수학
덧셈    180.00   170.000000   170.000
뺄셈     20.00   -10.000000    10.000
곱셈      1.25     0.888889     1.125
나눗셈  8000.00  7200.000000  7200.000