In [1]:
import pandas as pb
import numpy as np

In [2]:
studert1=pb.Series({"국어":np.nan,"영어":80,"수학":90})
studert2=pb.Series({"국어":80,"영어":90,"수학":np.nan})

In [5]:
#두학생의 과목별 점수로 사칙연산
additon=studert1.add(studert2,fill_value=0)
additon

국어     80.0
영어    170.0
수학     90.0
dtype: float64

In [11]:
#두학생의 과목별 점수로 사칙연산
subration=studert1.sub(studert2,fill_value=0)
subration

국어   -80.0
영어   -10.0
수학    90.0
dtype: float64

In [12]:
#두학생의 과목별 점수로 사칙연산
division=studert1.div(studert2,fill_value=0)
division

국어    0.000000
영어    0.888889
수학         inf
dtype: float64

In [13]:
#두학생의 과목별 점수로 사칙연산
mulitplitcaton=studert1.mul(studert2,fill_value=0)
mulitplitcaton

국어       0.0
영어    7200.0
수학       0.0
dtype: float64

In [14]:
result=pb.DataFrame([additon,subration,division,mulitplitcaton], index=["덧셈","뺄셈","곱셈","나눗셈"])
result

       국어           영어    수학
덧셈   80.0   170.000000  90.0
뺄셈  -80.0   -10.000000  90.0
곱셈    0.0     0.888889   inf
나눗셈   0.0  7200.000000   0.0