In [46]:
import pandas as pd

In [60]:
df=pd.DataFrame(['수학':[90,98,85,100],'영어':[80,80,85,100],'음악':[70,95,100,90]], '체육'[]
                  index=["서준","우현","인아"]

In [34]:
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [35]:
print(df.index)

Index(['준서', '예은'], dtype='object')

In [36]:
print(df.columns)

Index(['나이', '성별', '학교'], dtype='object')

In [37]:
print(df.values)

[[15 '남' '덕영중']
 [17 '여' '수리중']]

In [42]:
  df.rename(index={"준서":"학생1","예은":"학생2"},inplace=True) #['준서', '예은']
df.rename(columns={"나이":'연령',"성별":'남여',"학교":'소속'}) #['나이', '성별', '학교']

     연령 남여   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [15]:
print(df)

     연령 남여   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [16]:
print(df.index)

Index(['학생1', '학생2'], dtype='object')

In [17]:
print(df.columns)

Index(['연령', '남여', '소속'], dtype='object')

In [19]:
print(df.values)

[[15 '남' '덕영중']
 [17 '여' '수리중']]

In [58]:
df2=df[:]
df2.drop("우현",inplace=True)
print(df2)

    수학  영어   과학   쳬육
서준  90  98   85  100
인아  70  95  100   90

C:\Users\KOREAIT\AppData\Local\Temp\ipykernel_14276\2014021470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop("우현",inplace=True)

In [ ]:
df3=df[:]
df3.dropop('우현',)