In [1]:
import pandas as pd

In [5]:
exeam_data={'이름':['서준','우현','인아'],
            '수학':[90,80,70],
            '영어':[98,89,95],
            '음악':[85,95,100],
            '체육':[100,90,90]}
df=pd.DataFrame(exeam_data)
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [9]:
df.set_index("이름",inplace=True)

In [12]:
#행:"서준", 열,"음악" 과"체욱" 점수 데이터만선택
df.loc["서준",["체육","음악"]]

체육    100
음악     85
Name: 서준, dtype: int64

In [18]:
df.loc["서준","체육":"음악"]

Series([], Name: 서준, dtype: int64)

In [15]:
df.iloc[0,[2,3]]

음악     85
체육    100
Name: 서준, dtype: int64

In [17]:
df.iloc[0,2:]

음악     85
체육    100
Name: 서준, dtype: int64

In [19]:
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [20]:
df.loc[["서준","우현"],["영어","음악"]]

    영어  음악
이름
서준  98  85
우현  89  95

In [24]:
df.loc["서준":"우현","영어":"음악"]

    영어  음악
이름
서준  98  85
우현  89  95

In [22]:
df.iloc[[0,1],[2,3]]

    음악   체육
이름
서준  85  100
우현  95   90

In [ ]:
df.ilco