In [1]:
import pandas as pd

In [2]:
exeam_data={'이름':['서준','우현','인아'],
            '수학':[90,80,70],
            '영어':[98,89,95],
            '음악':[85,95,100],
            '체육':[100,90,90]}
df=pd.DataFrame(exeam_data)
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [4]:
df.set_index("이름",inplace=True)

In [7]:
# 데이터 프레인 df에 특징 원소를 변경방법, 서준의 체육점수를 100에서 80으로
df.iloc[0][3]=80
df

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

In [9]:
# 데이터 프레인 df에 특징 원소를 변경방법, 서준의 체육점수를 80에서 90으로
df.loc["서준"]["체육"]=90
df

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

In [10]:
# 데이터 프레인 df에 특징 원소를 변경방법, 서준의 체육점수를 90에서 100로
df.loc["서준","체육"]=100
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [13]:
# 데이터 프레인 df에 특징 원소를 변경방법, 서준의 체육와 음악점수를 90에서 100로
df.loc["서준",["음악","체육"]]=100
df

    수학  영어   음악   체육
이름
서준  90  98  100  100
우현  80  89   95   90
인아  70  95  100   90

In [14]:
# 데이터 프레인 df에 특징 원소를 변경방법, 서준의 체육와 음악점수를 100에서 85,100로
df.loc["서준",["음악","체육"]]=85,100
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90