In [1]:
dict_data={"c0":[0,1,2,3],"C1":[1,2,3],"C2":[4,5,6],"C3":[789]}
dict_data

{'c0': [0, 1, 2, 3], 'C1': [1, 2, 3], 'C2': [4, 5, 6], 'C3': [789]}

In [2]:
import pandas as pb

In [17]:
file_path='./read_csv_sample.csv'

In [27]:
df=pb.read_csv(file_path)
df

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [24]:
df2=pb.read_csv(file_path,header=None)
df2

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [25]:
df3=pb.read_csv(file_path,index_col=None)
df3

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [26]:
df4=pb.read_csv(file_path,index_col="c0")
df4

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9