In [1]:
import pandas as pd

In [4]:
data1={'name':["Jerry","Riah","paul"],
     'algol':["A","A+","B"], 'basic':["C","B","B+"],
     "c++":["B+","C","C++"]}

In [5]:
data2={'c0':[1,2,3],
     'c1':[4,5,6], 'c2':[7,8,9],
     "c3":[10,11,12], "c4":[13,14,15]}

In [9]:
df1=pd.DataFrame(data1)
df1.set_index('name',inplace=True)
df1

      algol basic  c++
name
Jerry     A     C   B+
Riah     A+     B    C
paul      B    B+  C++

In [10]:
df2=pd.DataFrame(data1)
df2.set_index('name',inplace=True)
df2

      algol basic  c++
name
Jerry     A     C   B+
Riah     A+     B    C
paul      B    B+  C++

In [12]:
writer=pd.ExcelWriter("./excelwriter.xlsx")
df1.to_excel(writer,sheet_name="sheet1")
df2.to_excel(writer,sheet_name="sheet2")
writer.save()
T

In [10]:
df.set_index('name',inplace=True)

In [12]:
df.to_csv("./df_samlpe.xlsx")