In [1]:
import pandas as pd

In [2]:
ulr="./sample.html"

In [7]:
talbes=pd.read_html(ulr)

In [6]:
print(len(talbes))

2

In [12]:
for i in range(len(talbes)) :
    print("table[%s]" %i)
    print(talbes[i])

table[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9
table[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [14]:
talbes[0]

   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

In [15]:
talbes[1]

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True