In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("./auto-mpg.csv")

In [5]:
df

     18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0    15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1    18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2    16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3    17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4    15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500
..    ... ..    ...    ...     ...   ...  .. ..                       ...
392  27.0  4  140.0  86.00  2790.0  15.6  82  1           ford mustang gl
393  44.0  4   97.0  52.00  2130.0  24.6  82  2                 vw pickup
394  32.0  4  135.0  84.00  2295.0  11.6  82  1             dodge rampage
395  28.0  4  120.0  79.00  2625.0  18.6  82  1               ford ranger
396  31.0  4  119.0  82.00  2720.0  19.4  82  1                chevy s-10

[397 rows x 9 columns]

In [6]:
df.columns=["연비","실린더수","배기량","출력","차중량","가속능력","출신연도","제조국","모델명"]

In [7]:
df

       연비  실린더수    배기량     출력     차중량  가속능력  출신연도  제조국                 모델명
0    15.0     8  350.0  165.0  3693.0  11.5    70    1   buick skylark 320
1    18.0     8  318.0  150.0  3436.0  11.0    70    1  plymouth satellite
2    16.0     8  304.0  150.0  3433.0  12.0    70    1       amc rebel sst
3    17.0     8  302.0  140.0  3449.0  10.5    70    1         ford torino
4    15.0     8  429.0  198.0  4341.0  10.0    70    1    ford galaxie 500
..    ...   ...    ...    ...     ...   ...   ...  ...                 ...
392  27.0     4  140.0  86.00  2790.0  15.6    82    1     ford mustang gl
393  44.0     4   97.0  52.00  2130.0  24.6    82    2           vw pickup
394  32.0     4  135.0  84.00  2295.0  11.6    82    1       dodge rampage
395  28.0     4  120.0  79.00  2625.0  18.6    82    1         ford ranger
396  31.0     4  119.0  82.00  2720.0  19.4    82    1          chevy s-10

[397 rows x 9 columns]

In [8]:
df.head()

     연비  실린더수    배기량     출력     차중량  가속능력  출신연도  제조국                 모델명
0  15.0     8  350.0  165.0  3693.0  11.5    70    1   buick skylark 320
1  18.0     8  318.0  150.0  3436.0  11.0    70    1  plymouth satellite
2  16.0     8  304.0  150.0  3433.0  12.0    70    1       amc rebel sst
3  17.0     8  302.0  140.0  3449.0  10.5    70    1         ford torino
4  15.0     8  429.0  198.0  4341.0  10.0    70    1    ford galaxie 500

In [9]:
df.tail()

       연비  실린더수    배기량     출력     차중량  가속능력  출신연도  제조국              모델명
392  27.0     4  140.0  86.00  2790.0  15.6    82    1  ford mustang gl
393  44.0     4   97.0  52.00  2130.0  24.6    82    2        vw pickup
394  32.0     4  135.0  84.00  2295.0  11.6    82    1    dodge rampage
395  28.0     4  120.0  79.00  2625.0  18.6    82    1      ford ranger
396  31.0     4  119.0  82.00  2720.0  19.4    82    1       chevy s-10

In [10]:
df.shape

(397, 9)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연비      397 non-null    float64
 1   실린더수    397 non-null    int64
 2   배기량     397 non-null    float64
 3   출력      397 non-null    object
 4   차중량     397 non-null    float64
 5   가속능력    397 non-null    float64
 6   출신연도    397 non-null    int64
 7   제조국     397 non-null    int64
 8   모델명     397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [13]:
df.dtypes

연비      float64
실린더수      int64
배기량     float64
출력       object
차중량     float64
가속능력    float64
출신연도      int64
제조국       int64
모델명      object
dtype: object

In [15]:
df.연비.dtype

dtype('float64')

In [16]:
df.describe()

,연비,실린더수,배기량,차중량,가속능력,출신연도,제조국
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.528463,5.448363,193.139798,2969.080605,15.577078,76.025189,1.574307
std,7.820926,1.698329,104.244898,847.485218,2.755326,3.689922,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.900000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.200000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [17]:
df.count()

연비      397
실린더수    397
배기량     397
출력      397
차중량     397
가속능력    397
출신연도    397
제조국     397
모델명     397
dtype: int64

In [18]:
df.연비.min()#최소값 =df.["연비"].min()#최소값

9.0

In [20]:
df.연비.max()#최대값

46.6

In [21]:
df.연비.mean() #평균값

23.528463476070527

In [22]:
df.연비.std() #표준편차

7.820926403236992

In [23]:
  df['연비'].value_counts()

13.0    20
14.0    19
15.0    16
18.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: 연비, Length: 129, dtype: int64

In [24]:
df.median()

C:\Users\KOREAIT\AppData\Local\Temp\ipykernel_392\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

연비        23.0
실린더수       4.0
배기량      146.0
차중량     2800.0
가속능력      15.5
출신연도      76.0
제조국        1.0
dtype: float64

In [25]:
df['연비'].median()

23.0

In [26]:
df.corr()

            연비      실린더수       배기량       차중량      가속능력      출신연도       제조국
연비    1.000000 -0.775412 -0.803972 -0.831558  0.419133  0.578667  0.562894
실린더수 -0.775412  1.000000  0.950718  0.896623 -0.503016 -0.344729 -0.561796
배기량  -0.803972  0.950718  1.000000  0.932957 -0.542083 -0.367470 -0.608749
차중량  -0.831558  0.896623  0.932957  1.000000 -0.416488 -0.305150 -0.580552
가속능력  0.419133 -0.503016 -0.542083 -0.416488  1.000000  0.284376  0.204102
출신연도  0.578667 -0.344729 -0.367470 -0.305150  0.284376  1.000000  0.178441
제조국   0.562894 -0.561796 -0.608749 -0.580552  0.204102  0.178441  1.000000